# æ¼”å‘˜è¯·å°±ä½2å¼¹å¹•æ•°æ®åˆ†æ

## æ•°æ®è¯»å…¥

In [1]:
# å¯¼å…¥åº“
import os  
import jieba
import numpy as np
import pandas as pd 

from pyecharts.charts import Bar, Pie, Line, WordCloud, Page
from pyecharts import options as opts 
from pyecharts.globals import SymbolType, WarningType
WarningType.ShowWarning = False

import stylecloud
from IPython.display import Image # ç”¨äºåœ¨jupyter labä¸­æ˜¾ç¤ºæœ¬åœ°å›¾

In [3]:
# è¯»å…¥æ•°æ®
data_list = os.listdir('../data/')

df_all = pd.DataFrame()

for i in data_list[-10:]:
    print(i) 
    df_one = pd.read_csv(f'../data/{i}', engine='python', encoding='utf-8', index_col=0) 
    df_all = df_all.append(df_one, ignore_index=False)

print(df_all.shape)

ç¬¬ä¸€æœŸä¸Šé›†.csv
ç¬¬ä¸€æœŸä¸‹é›†.csv
ç¬¬ä¸‰æœŸä¸Šé›†.csv
ç¬¬ä¸‰æœŸä¸‹é›†.csv
ç¬¬äºŒæœŸä¸Šé›†.csv
ç¬¬äºŒæœŸä¸‹é›†.csv
ç¬¬äº”æœŸä¸Šé›†.csv
ç¬¬äº”æœŸä¸‹é›†.csv
ç¬¬å››æœŸä¸Šé›†.csv
ç¬¬å››æœŸä¸‹é›†.csv
(406721, 7)

In [4]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406721 entries, 0 to 44081
Data columns (total 7 columns):
episodes      406721 non-null object
comment_id    406721 non-null int64
oper_name     165328 non-null object
vip_degree    406721 non-null int64
content       406721 non-null object
time_point    406721 non-null int64
up_count      406721 non-null int64
dtypes: int64(4), object(3)
memory usage: 24.8+ MB

## æ•°æ®é¢„å¤„ç†

In [5]:
# åˆ é™¤å¼¹å¹•è§’è‰²
df_all['content'] = df_all['content'].str.replace('(.*?:)', '')
df_all.head()

,episodes,comment_id,oper_name,vip_degree,content,time_point,up_count
0,ç¬¬ä¸€æœŸä¸Š,6717761110280435812,è·Œè·Œæ’æ’,2,å“ˆå“ˆ,19,48
1,ç¬¬ä¸€æœŸä¸Š,6717761069147254852,æŠ‘æ‰¬,0,11111111111,19,25
2,ç¬¬ä¸€æœŸä¸Š,6717761193165433088,NaN,3,è¿˜æœ‰è°,17,24
3,ç¬¬ä¸€æœŸä¸Š,6717761031483408824,å’©ğŸ’¨,2,æ¥äº†æ¥äº†,15,38
4,ç¬¬ä¸€æœŸä¸Š,6717761007696148412,NaN,0,ç¬¬ä¸€ä¸é”™,19,6

In [7]:
df_epinum

  index  episodes
0  ç¬¬ä¸€æœŸä¸Š     57620
1  ç¬¬ä¸‰æœŸä¸Š     55080
2  ç¬¬äºŒæœŸä¸Š     47592
3  ç¬¬å››æœŸä¸Š     44966
4  ç¬¬ä¸‰æœŸä¸‹     44672
5  ç¬¬å››æœŸä¸‹     44082
6  ç¬¬äºŒæœŸä¸‹     41762
7  ç¬¬äº”æœŸä¸Š     31044
8  ç¬¬ä¸€æœŸä¸‹     29256
9  ç¬¬äº”æœŸä¸‹     10647

In [8]:
df_epinum = df_all['episodes'].value_counts().reset_index()
df_epinum['num'] = [1, 5, 3, 7, 6, 8, 4, 9, 2, 10]
df_epinum = df_epinum.sort_values('num') 
df_epinum

  index  episodes  num
0  ç¬¬ä¸€æœŸä¸Š     57620    1
8  ç¬¬ä¸€æœŸä¸‹     29256    2
2  ç¬¬äºŒæœŸä¸Š     47592    3
6  ç¬¬äºŒæœŸä¸‹     41762    4
1  ç¬¬ä¸‰æœŸä¸Š     55080    5
4  ç¬¬ä¸‰æœŸä¸‹     44672    6
3  ç¬¬å››æœŸä¸Š     44966    7
5  ç¬¬å››æœŸä¸‹     44082    8
7  ç¬¬äº”æœŸä¸Š     31044    9
9  ç¬¬äº”æœŸä¸‹     10647   10

In [9]:
x_data = df_epinum['index'].tolist()
y_data = df_epinum['episodes'].tolist()

# æ¡å½¢å›¾
bar1 = Bar(init_opts=opts.InitOpts(width='1350px', height='750px'))
bar1.add_xaxis(xaxis_data=x_data)
bar1.add_yaxis('', y_axis=y_data)
bar1.set_global_opts(title_opts=opts.TitleOpts(title='å‰äº”æœŸçš„å¼¹å¹•æ•°èµ°åŠ¿å›¾'), 
                     visualmap_opts=opts.VisualMapOpts(max_=60000, is_show=False) 
                    )
bar1.render()

'C:\\Users\\wzd\\Desktop\\CDA\\CDA_Python\\Pythoné¡¹ç›®å®ä½œ\\ç½‘ç»œçˆ¬è™«\\å½±è§†è§†é¢‘\\è…¾è®¯è§†é¢‘\\æ¼”å‘˜è¯·å°±ä½2\\code\\render.html'

## æ•°æ®å¯è§†åŒ–

### å¼¹å¹•ä¸­ä¸»è¦å¯¼æ¼”æåŠæ¬¡æ•°

In [10]:
chen_num = df_all.content.str.contains('å‡¯æ­Œ').sum()
er_num = df_all.content.str.contains('å†¬å‡').sum()
zhao_num = df_all.content.str.contains('èµµè–‡').sum()
guo_num = df_all.content.str.contains('æ•¬æ˜|å°å››').sum()
li_num = df_all.content.str.contains('è¯šå„’').sum()

print(chen_num, er_num, zhao_num, guo_num, li_num)

8228 3380 7891 10166 3897

In [11]:
df_num = pd.DataFrame({
    'name': ['é™ˆå‡¯æ­Œ', 'å°”å†¬å‡', 'èµµè–‡', 'éƒ­æ•¬æ˜', 'æè¯šå„’'],
    'number': [chen_num, er_num, zhao_num, guo_num, li_num]
})
df_num = df_num.sort_values('number', ascending=False)
df_num

  name  number
3  éƒ­æ•¬æ˜   10166
0  é™ˆå‡¯æ­Œ    8228
2   èµµè–‡    7891
4  æè¯šå„’    3897
1  å°”å†¬å‡    3380

In [12]:
# äº§ç”Ÿæ•°æ®
x_data = df_num['name'].values.tolist()
y_data = df_num['number'].values.tolist()

# æ¡å½¢å›¾
bar2 = Bar(init_opts=opts.InitOpts(width='1350px', height='750px'))
bar2.add_xaxis(x_data)
bar2.add_yaxis('', y_data)
bar2.set_global_opts(title_opts=opts.TitleOpts(title='å¼¹å¹•ä¸­ä¸»è¦å¯¼æ¼”çš„æåŠæ¬¡æ•°'), 
                     visualmap_opts=opts.VisualMapOpts(max_=int(max(df_num['number'])), is_show=False)
                    )

bar2.render()

'C:\\Users\\wzd\\Desktop\\CDA\\CDA_Python\\Pythoné¡¹ç›®å®ä½œ\\ç½‘ç»œçˆ¬è™«\\å½±è§†è§†é¢‘\\è…¾è®¯è§†é¢‘\\æ¼”å‘˜è¯·å°±ä½2\\code\\render.html'

### å¼¹å¹•ä¸­æ¼”å‘˜æåŠæ¬¡æ•°Top10

In [13]:
actor = 'å°å½©æ—— / æ›¹éª / ä¸ç¨‹é‘« / è‘£æ€æ€¡ / è´¹å¯é¸£ / éƒ­æ™“å©· / è´ºå¼€æœ— / é»„ç’ / é»„æ¢¦è¹ / èƒ¡æå„¿ / é»„å¥• / è¾£ç›®æ´‹å­ / åˆ˜èŠ®éºŸ / ææºªèŠ® / å¨„è‰ºæ½‡ / ææ™ºæ¥  / é©¬ä¼¯éª / é©¬è‹ / å­Ÿå­ä¹‰ / å€ªè™¹æ´ / ä»»æ• / æ–½æŸå®‡ / å­™åƒ / å­™é˜³ / å”ä¸€è² / é™ˆå®¥ç»´ / ä½•æ˜¶å¸Œ / ç‹æ¥šç„¶ / ç‹é”µ / ç‹èè / ç‹æ™º / æ¸©å³¥åµ˜ / æ™ç´«ä¸œ / æ¨å¿—åˆš / å¼ å¤§å¤§ / å¼ æµ·å®‡ / å¼ é“­æ© / å¼ æœˆ / å¼ é€¸æ° / é‚¹å…ƒæ¸… / æè¯šå„’ / å°¹å­ç»´ / ç‹èŒ‚è•¾ / ç§¦è¶Š / å¼ ç†™ç„¶ / æå½©æ¡¦ / æ²ˆä¿å¹³ / é©¬å¿—å¨'
actor_list = actor.split(' / ')
actor_list[:5]

['å°å½©æ——', 'æ›¹éª', 'ä¸ç¨‹é‘«', 'è‘£æ€æ€¡', 'è´¹å¯é¸£']

In [14]:
tiji_num = [df_all.content.str.contains(i).sum() for i in actor_list] 
tiji_num[:5]

[742, 9666, 1739, 604, 727]

In [15]:
df_actor = pd.DataFrame({
    'actor_name': actor_list,
    'tiji_num': tiji_num
})

df_actor.head()

  actor_name  tiji_num
0        å°å½©æ——       742
1         æ›¹éª      9666
2        ä¸ç¨‹é‘«      1739
3        è‘£æ€æ€¡       604
4        è´¹å¯é¸£       727

In [16]:
tiji_top10 = df_actor.sort_values('tiji_num', ascending=False).head(10)
tiji_top10 = tiji_top10.sort_values('tiji_num')
tiji_top10

   actor_name  tiji_num
30         ç‹æ™º      3341
22         å­™åƒ      3375
17         é©¬è‹      3646
20         ä»»æ•      4075
9         èƒ¡æå„¿      4201
19        å€ªè™¹æ´      4598
34        å¼ å¤§å¤§      4969
10         é»„å¥•      5732
33        æ¨å¿—åˆš      6058
1          æ›¹éª      9666

In [17]:
# äº§ç”Ÿæ•°æ®
x_data = tiji_top10['actor_name'].values.tolist()
y_data = tiji_top10['tiji_num'].values.tolist()

# æ¡å½¢å›¾
bar3 = Bar(init_opts=opts.InitOpts(width='1350px', height='750px'))
bar3.add_xaxis(x_data)
bar3.add_yaxis('', y_data)
bar3.set_global_opts(title_opts=opts.TitleOpts(title='å¼¹å¹•ä¸­æ¼”å‘˜æåŠæ¬¡æ•°æ’è¡ŒTop10'), 
                     visualmap_opts=opts.VisualMapOpts(max_=int(max(tiji_top10['tiji_num'])), is_show=False)
                    )
bar3.set_series_opts(label_opts=opts.LabelOpts(position='right'))
bar3.reversal_axis()
bar3.render()

'C:\\Users\\wzd\\Desktop\\CDA\\CDA_Python\\Pythoné¡¹ç›®å®ä½œ\\ç½‘ç»œçˆ¬è™«\\å½±è§†è§†é¢‘\\è…¾è®¯è§†é¢‘\\æ¼”å‘˜è¯·å°±ä½2\\code\\render.html'

In [18]:
page = Page() 
page.add(bar1, bar2, bar3)
page.render('../image/æ¼”å‘˜è¯·å°±ä½2å¼¹å¹•åˆ†æ.html')

'C:\\Users\\wzd\\Desktop\\CDA\\CDA_Python\\Pythoné¡¹ç›®å®ä½œ\\ç½‘ç»œçˆ¬è™«\\å½±è§†è§†é¢‘\\è…¾è®¯è§†é¢‘\\æ¼”å‘˜è¯·å°±ä½2\\image\\æ¼”å‘˜è¯·å°±ä½2å¼¹å¹•åˆ†æ.html'

### å¼¹å¹•è§’è‰²è¯äº‘ - é™ˆå‡¯æ­Œ

In [19]:
def get_cut_words(x_series):
    # è¯»å…¥åœç”¨è¯è¡¨
    stop_words = [] 
    
    with open(r"C:\Users\wzd\Desktop\CDA\CDA_Python\Pythonæ–‡æœ¬åˆ†æ\10.æ–‡æœ¬æ‘˜è¦\stop_words.txt", 'r', encoding='utf-8') as f:
        lines = f.readlines()
        for line in lines:
            stop_words.append(line.strip())

    # æ·»åŠ å…³é”®è¯
    my_words = ['é™ˆå‡¯æ­Œ', 'å°”å†¬å‡', 'èµµè–‡', 'éƒ­æ•¬æ˜', 'å°å››', 'å¤§é¹', 'æè¯šå„’']   
    for i in my_words:
        jieba.add_word(i) 

    # è‡ªå®šä¹‰åœç”¨è¯
    my_stop_words = ['å“ˆå“ˆå“ˆ', 'å“ˆå“ˆå“ˆå“ˆ', 'è¯„è®º']
    stop_words.extend(my_stop_words)               

    # åˆ†è¯
    word_num = jieba.lcut(x_series.astype('str').str.cat(sep='ã€‚'), cut_all=False)

    # æ¡ä»¶ç­›é€‰
    word_num_selected = [i for i in word_num if i not in stop_words and len(i)>=2]
    
    return word_num_selected

In [20]:
text1 = get_cut_words(x_series=df_all[df_all.content.str.contains('å‡¯æ­Œ')]['content'])
text1[:5]

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\wzd\AppData\Local\Temp\jieba.cache
Loading model cost 1.146 seconds.
Prefix dict has been built successfully.

['å‡¯æ­Œ', 'å¯¼æ¼”', 'æˆ‘æ¥', 'å‡¯æ­Œ', 'å¯¼æ¼”']

In [21]:
# ç»˜åˆ¶è¯äº‘å›¾
def gen_my_stylecloud(text, file_name, icon_name='fas fa-heart'):
    stylecloud.gen_stylecloud(text=' '.join(text), max_words=1000,
                              collocations=False,
                              font_path=r'â€ªC:\Windows\Fonts\msyh.ttc',
                              icon_name=icon_name,
                              size=653,
                              output_name=f'../image/{file_name}.png'
                             )

In [22]:
gen_my_stylecloud(text=text1, file_name='å¼¹å¹•è§’è‰²é™ˆå‡¯æ­Œ-è¯äº‘å›¾')

### å¼¹å¹•è§’è‰²è¯äº‘ - å°”å†¬å‡

In [23]:
text2 = get_cut_words(x_series=df_all[df_all.content.str.contains('å°”å†¬å‡')]['content'])
text2[:5]

['å°”å†¬å‡', 'å°”å†¬å‡', 'å¯¼æ¼”', 'å°”å†¬å‡', 'å–œæ¬¢']

In [24]:
gen_my_stylecloud(text=text2, file_name='å¼¹å¹•è§’è‰²å°”å†¬å‡-è¯äº‘å›¾', icon_name='fas fa-star')

### å¼¹å¹•è§’è‰²è¯äº‘ - èµµè–‡

In [27]:
text3 = get_cut_words(x_series=df_all[df_all.content.str.contains('èµµè–‡')]['content'])
text3[:5]

['èµµè–‡', 'æœŸå¾…', 'èµµè–‡', 'å¯¼æ¼”', 'èµµè–‡']

In [28]:
gen_my_stylecloud(text=text3, file_name='å¼¹å¹•è§’è‰²èµµè–‡-è¯äº‘å›¾', icon_name='fas fa-comments')

### å¼¹å¹•è§’è‰²è¯äº‘ - éƒ­æ•¬æ˜

In [29]:
text4 = get_cut_words(x_series=df_all[df_all.content.str.contains('éƒ­æ•¬æ˜|å°å››')]['content'])
text4[:5]

['å°å››', 'æ”¶æ‹¾', 'å‘ç°', 'å½“å¹´', 'æ‰‹æŠ„']

In [30]:
gen_my_stylecloud(text=text4, file_name='å¼¹å¹•è§’è‰²éƒ­æ•¬æ˜-è¯äº‘å›¾', icon_name='fas fa-leaf')

### å¼¹å¹•è§’è‰²è¯äº‘ - æè¯šå„’

In [31]:
text5 = get_cut_words(x_series=df_all[df_all.content.str.contains('æè¯šå„’')]['content'])
text5[:5]

['é™ˆå‡¯æ­Œ', 'æè¯šå„’', 'æè¯šå„’', 'åŒå‰‘åˆ', 'æè¯šå„’']

In [32]:
gen_my_stylecloud(text=text5, file_name='å¼¹å¹•è§’è‰²æè¯šå„’-è¯äº‘å›¾', icon_name='fas fa-thumbs-up')

### å¼¹å¹•è§’è‰²è¯äº‘ - æ›¹éª

In [33]:
text6 = get_cut_words(x_series=df_all[df_all.content.str.contains('æ›¹éª')]['content'])
text6[:5]

['ç«¥å¹´', 'ç”·ç¥', 'æ²‰é¦™', 'æ›¹éª', 'åŠ æ²¹']

In [35]:
gen_my_stylecloud(text=text6, file_name='å¼¹å¹•è§’è‰²æ›¹éª-è¯äº‘å›¾')